extends layout

block content
  h1= title
  p Welcome to #[strong Rackbot], a very basic Ticket creator for your use.



  p The library has the following services

  ul
    li #[strong Category 1] 
    li #[strong Category 2] 
    li #[strong Category 3] 
    li #[strong Category 4] 
    li #[strong Category 5] 

