extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First name (Christian) last' name='first_name' required='true' value=(undefined===technician ? '' : technician.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===technician ? '' : technician.family_name))
    div.form-group
      label(for='email') E-mail:
      input#email.form-control(type='text' name='email' value=(undefined===technician ? '' : technician.email) )
      label(for='phone_number') Phone Number:
      input#phone_number.form-control(type='text' name='phone_number' value=(undefined===technician ? '' : technician.phone_number) )
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg